{% extends 'dashboard/_base.html' %}
{% from 'dashboard/widgets/buttons.html' import create_modal_open_button, create_modal_close_button %}

{% block contents %}
        <h3>Medications</h3>
        <hr>
        {{ create_modal_open_button('Add', target='newMed', class='mb-2', id='addMedModalOpener') }}
        {% if not medications.count() %}
            <h4 class="text-center">No data</h4>
        {% else %}
            <div class="list-group">
            {% for medicine in medications %}
                <a href="#newMed" 
                    class="med list-group-item list-group-item-action"
                    data-bs-toggle="modal"
					data-id="{{ medicine.id }}">
                    <div class="row">
                        <!-- METADATA -->
                        <span class="med-name" style="display:none">{{ medicine.drug }}</span>
                        <span class="med-dose" style="display:none">{{ medicine.dose }}</span>
                        <span class="med-qty" style="display:none">{{ medicine.unit }}</span>
                        <span class="med-type" style="display:none">{{ medicine.type }}</span>
                        <span class="med-vol" style="display:none">{{ medicine.volume }}</span>
						<div class="col-md">
							<h5>
                                {{ medicine.drug }}
                                ({{ medicine.dose }} mg{% if medicine.type == 'bot' %}/{{ medicine.unit }} mL{% endif %})
                            </h5>
						</div>
                    </div>
					<small class="text-muted">
						<span class="med-type" style="display:none">{{ medicine.type }}</span>
                        {% if medicine.type == 'tab' %}Tablet
                        {% elif medicine.type == 'cap' %}Capsule
                        {% elif medicine.type == 'bot' %}Bottle ({{ medicine.volume }} mL)
                        {% endif %}
					</small>
                </a>
            {% endfor %}
        {% endif %}
    </div>
	<!-- ADD/EDIT MEDICINE MODAL -->
	<div class="modal fade" 
		id="newMed" 
		tabindex="-1" 
		data-bs-backdrop="static" 
		data-bs-keyboard="false">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="medModalTitle">Add medication</h4>
				</div>
                <div class="modal-body">
                    <span id="modalMessage" class="d-block mb-2"></span>
                    <form class="needs-validation" id="addMedForm" method="post" autocomplete="off" novalidate>
						<input id="drugID" type="hidden">
                        <div class="form-floating mb-3">
                            {{ medicine_form.drug(class='form-control', placeholder='Drug') }}
                            {{ medicine_form.drug.label }}
                        </div>
						<div class="mb-3">
							{{ medicine_form.type.label(class='form-label') }}
							{{ medicine_form.type(class='form-select', placeholder=' ') }}
						</div>
                        <div class="row mb-2"><span>Concentration</span></div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating input-group">
                                    {{ medicine_form.dose(class='form-control', placeholder=' ') }}
                                    {{ medicine_form.dose.label }}
                                    <span class="input-group-text">mg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating input-group">
                                    {{ medicine_form.unit(class='form-control', placeholder=' ') }}
                                    {{ medicine_form.unit.label }}
                                    <span class="input-group-text" id="unitLbl">mg</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="volumeInput">
                            <div class="col">
                                <div class="form-floating input-group">
                                    {{ medicine_form.volume(class='form-control', placeholder=' ') }}
                                    {{ medicine_form.volume.label }}
                                    <span class="input-group-text">mL</span>
                                </div>
                            </div>
                        </div>
                        <div>
							{{ medicine_form.submit(class='btn btn-primary', id='addMed') }}
							{{ create_modal_open_button('Delete', theme='danger', id='deleteMed', style='display: none', target='deleteMedModal') }}
						</div>
                    </form>
                </div>
                <div class="modal-footer">
                    {{ create_modal_close_button('Close') }}
                </div>
            </div>
        </div>
    </div>
	<!-- DELETE MEDICINE MODAL -->
	<div class="modal fade" 
		id="deleteMedModal" 
		tabindex="-1" 
		data-bs-backdrop="static" 
		data-bs-keyboard="false">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
                <div class="modal-body">
                    <span id="modalDeleteMessage" class="d-block">Are you sure you want to delete this item?</span>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" id="deleteConfirm">Confirm</button>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const addMed = document.getElementById('addMed');
        const form = document.getElementById('addMedForm');
        const message = document.getElementById('modalMessage');
        const title = document.getElementById('medModalTitle');
        const meds = document.getElementsByClassName('med');
		const drugID = document.getElementById('drugID');
        const drug = document.getElementById('drug');
		const type = document.querySelector('#addMedForm #type');
        const dose = document.getElementById('dose');
        const unit = document.getElementById('unit');
        const volume = document.getElementById('volume');
		const deleteMed = document.getElementById('deleteMed');
		const deleteMedConfirm = document.getElementById('deleteConfirm');
		const modalDeleteMessage = document.getElementById('modalDeleteMessage');
		const volumeInput = document.getElementById('volumeInput');
        
        const addUrl = '{{ url_for("dashboard.add_medication") }}';
        const editUrl = '{{ url_for("dashboard.edit_medication") }}';
        let url = '';
        
        window.onload = () =>
        {
            // Trigger category change on load
            type.onchange();
            
            for (let med of meds)
            {
                med.onclick = () =>
                {
                    title.textContent = 'Edit medication';
                    drugID.value = med.getAttribute('data-id');
                    drug.value = med.getElementsByClassName('med-name')[0].textContent;
                    type.value = med.getElementsByClassName('med-type')[0].textContent;
                    dose.value = parseInt(med.getElementsByClassName('med-dose')[0].textContent);
                    unit.value = parseInt(med.getElementsByClassName('med-qty')[0].textContent);
                    volume.value = parseInt(med.getElementsByClassName('med-vol')[0].textContent);
                    deleteMed.style.display = 'inline';
                    url = editUrl;
                    type.onchange();
                }
            }
        }
		
        // Change units
		type.onchange = () =>
		{
			const unitLbl = document.getElementById('unitLbl');
			const val = type.value;
			
			if (val === 'bot')
            {
				unitLbl.textContent = 'mL';
                unit.value = 5;
                show(volumeInput);
                enable(volume);
            }
            else
            {
                unitLbl.textContent = val;
                unit.value = 1;
                hide(volumeInput);
                disable(volume);
            }
		}
        
        document.getElementById('addMedModalOpener').onclick = () =>
        {
            title.innerText = 'Add medication';
            drug.value = dose.value = unit.value = volume.value = '';
            url = addUrl;
			hide(deleteMed);
            type.onchange();
        }
		
		deleteMedConfirm.onclick = () =>
		{
            const deleteUrl = '{{ url_for("dashboard.delete_medication") }}';
            
            postData(deleteMedConfirm,
                         modalDeleteMessage,
                         deleteUrl, {
                            id: drugID.value
                         });
		}
        
        form.onsubmit = (event) =>
        {
            if (form.checkValidity())
            {
                event.preventDefault();
                
                data = {
                    id: drugID.value,
                    drug: drug.value,
                    type: type.value,
                    dose: dose.value,
                    unit: unit.value,
                    volume: volume.value
                }
                
                postData(addMed, message, url, data);
            }
        }
    </script>
{% endblock %}