{% extends 'dashboard/_base.html' %}

{% block contents %}
	<form class="needs-validation pb-5 with-spinner"
			method="post"
			autocomplete="off"
			novalidate id="change-password-form">
		{{ form.csrf_token(id='') }}
		<div class="spinner-wrapper">
			<div class="spinner-overlay">
				<div class="spinner-border" role="status"></div>
			</div>
		</div>
		<legend>Change password</legend>
		<hr>
		<div class="form-floating mb-2">
			{{ form.current_password(class='form-control', placeholder='Current password') }}
			{{ form.current_password.label }}
		</div>
		<div class="form-floating mb-2">
			{{ form.new_password(class='form-control', placeholder='New password') }}
			{{ form.new_password.label }}
		</div>
		<div class="form-floating mb-3">
			{{ form.confirm_password(class='form-control', placeholder='Confirm password') }}
			{{ form.confirm_password.label }}
		</div>
		<div class="text-center">
			{{  form.submit(class='btn btn-primary') }}
		</div>
	</form>
	<div class="toast-container position-fixed bottom-0 start-0 p-3">
		<div id="formMessage" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<strong class="me-auto">Form validation error</strong>
				<button type="button" class="ml-2 mb-1 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body"></div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
	<!-- {{ get_js('just-validate.min') }} -->
	<script>
		(() => {
			const form = RDC.getById('change-password-form');
			const changePasswordValidation = new JustValidate(form, {
				errorFieldCssClass: 'is-invalid',
				validateBeforeSubmitting: true,
				focusInvalidField: true,
				lockForm: true
			});
			
			changePasswordValidation
				.addField('#current_password', [{rule: 'required'}])
				.addField('#new_password', [{rule: 'required'}])
				.addField('#confirm_password', [
					{rule: 'required'},
					{
						validator: value => {
							return value === RDC.getById('new_password').value;
						}
					}
				])
				.onSuccess(async() => {
					const spinner = RDC.getByClass('spinner-wrapper', form);
					const url = Flask.url_for('admin.change_password')
					const data = new FormData(form);
					
					RDC.show(spinner);
					
					const result = await RDC.sendJsonData(url, data);
					
					if (result.success) {
						RDC.notify('Success', result.message, RDC.status.success);
						form.reset();
						RDC.hide(spinner);
					} else {
						RDC.notify('Process error', result.message, RDC.status.danger);
					}
					
					RDC.hide(spinner);
				});
		})();
	</script>
{% endblock %}