{% extends 'admin/_base.html' %}

{% block contents %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="mb-5 col-md-6 col-lg-7">
                    <h1>Romblon Happy Smile</h1>
                    <h4>Dental Clinic</h4>
                </div>
                <div class="col-md-6 col-lg">
                    <h2 class="mb-3">Sign in</h2>
                    <form id="signin-form" method="post" autocomplete="off" novalidate>
                        <div class="form-message alert mb-3"></div>
                        <div class="with-spinner">
                            <div class="spinner-wrapper">
                                <div class="spinner-overlay">
                                    <div class="spinner-border" role="status"></div>
                                </div>
                            </div>
                            {{ form.hidden_tag() }}
                            <div class="form-floating mb-3">
                                {{ form.username(class='form-control', placeholder='Username') }}
                                {{ form.username.label }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form.password(class='form-control', placeholder='Password') }}
                                {{ form.password.label }}
                            </div>
                            <div class="form-check form-switch mb-3">
                                {{ form.remember_me(class='form-check-input') }}
                                {{ form.remember_me.label(class='form-check-label') }}
                            </div>
                            <div>{{ form.submit(class='btn btn-primary') }}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
